version: '3.8'
services:
  fastapi:
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "4G"
        reservations:
          cpus: "0.5"
          memory: "1G"  
    image: sentence-transformers-fastapi
    container_name: ${COMPOSE_PROJECT_NAME}-fastapi
    build: 
      context: https://github.com/dominikmukrecki/sentence-transformers-fastapi.git#main
      dockerfile: Dockerfile
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-fastapi.service=${COMPOSE_PROJECT_NAME}-fastapi
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-fastapi.loadbalancer.server.port=8000
    networks:
      - traefik
    volumes:
      - cache:/root/.cache/
    environment:
      SEMANTIC_SEARCH_MODEL:
      SEMANTIC_SEARCH_ENDPOINT:
      SEMANTIC_SEARCH_SCORE_FUNCTION:
      SEMANTIC_SEARCH_MODEL_MAX_SEQ_LENGTH:
      ZERO_SHOT_CLASSIFICATION_MODEL:
      ZERO_SHOT_CLASSIFICATION_ENDPOINT:
    expose:
      - $PORT
    command: uvicorn app.main:app --host $HOST --port $PORT --log-level $LOG_LEVEL --workers $WORKERS
networks:
  traefik:
    external: true    
volumes:
  cache: