version: '3'
services:
  sentence-transformers-fastapi:
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: "4G"
        reservations:
          cpus: "0.5"
          memory: "1G"  
    image: sentence-transformers-fastapi
    build: 
      context: https://github.com/dominikmukrecki/transformers-fastapi.git#main
      dockerfile: Dockerfile
    labels:
      - traefik.enable=true
      - traefik.docker.network=sentence-transformers-fastapi-${COMPOSE_PROJECT_NAME}
      - traefik.http.routers.sentence-transformers-fastapi-${COMPOSE_PROJECT_NAME}.service=sentence-transformers-fastapi-${COMPOSE_PROJECT_NAME}
      - traefik.http.services.sentence-transformers-fastapi-${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8000
    networks:
      - traefik
    hostname: ${HOSTNAME}
    volumes:
      - cache:/root/.cache/
    environment:
      SENTENCE_MODEL:
      SENTENCE_ENDPOINT:
      SENTENCE_MODEL_MAX_SEQ_LENGTH:
    expose:
      - $PORT
    command: ["uvicorn", "app.main:app", "--host", $HOST, "--port", $PORT, "--log-level", $LOG_LEVEL, "--workers", $WORKERS]
networks:
  traefik:
    external: true    
volumes:
  cache: